.home{
    margin: 0 auto;
    max-width: 120rem;
}
@media (min-width: 576px) {
    .home{
        display: block;
    }
}
@media (min-width: 576px) {
    .title-home,
    .title-fecha{
    text-align: center;
}
}
.title-home{
    color: var(--colorPrincipal);
    font-weight: 700;
    font-size: 4rem;
    text-shadow: 0 0 2px var(--colorBlanco);
    text-transform: uppercase;
}
.title-fecha{
    font-size: 3rem;
}
.home-elementos{
    margin: 2rem 0;
    display: block;
    text-align: start;
    
}
@media (min-width: 576px) {
    .home-elementos{
        display: block ;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }
}
.home-elementos__img{
    max-width: 20rem;
    grid-column: 1 / 2;
    padding: 0;
    margin-left: -5rem ;
}
@media (min-width: 576px) {
    .home-elementos__img{
        grid-column: 2 / 3 ;
        max-width: 40rem;
    }
}
.progress{
    grid-row: 3 /4;
    grid-column: 1 / 4;
    margin: 2rem ;
    height: 3rem;
    font-size: 2.5rem;
}
.progress-bar{
    background-color: var(--colorPrincipal);
}