<h1 class="title-home">App Maneja tu caja chica</h1>
<hr>
<h2 class="title-fecha" >Fecha: 15/10/2021</h2>

<div class="home-elementos">
    <p>Total: <span>$100.000</span></p>
    <p>En caja: <span>55.000</span></p>
    <p>En prestamo: <span>45.000</span></p>
    <img class="home-elementos__img" src="../../../assets/images/caja-dinero.png" alt="Imagen caja chica">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
      </div>
</div>