<aside>
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="" aria-current="page" >Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gastos">Ingreso de Gastos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Abono a caja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Deudores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Historial de gastos</a>
        </li>
  
      </ul>
</aside>
